<!-- <div class="row">
	<div class="span offset5">
		<h2>
			<%= @pictures.length %> pictures
		</h2>
	</div>
</div> -->
<div class="row">
	<div class="span">
		<% @pictures.each do |picture| %>
		  <p><%= picture[:title] %> by <%= picture[:artist] %></p>
		  <%= link_to image_tag(picture.url), "/pictures/#{picture.id}" %>
		<% end %>
	</div>
</div>