
<h1>smakT <%= link_to "<button class='btn btn-success btn-large'>New Picture</button>".html_safe, "/pictures/new" %> </h1>
<h2></h2>



<% @pictures.each do |picture| %>
  <p><%= picture[:title] %>, <%= picture[:artist] %></p>
  <%= link_to image_tag(picture.url), "/pictures/#{picture.id}" %>
<% end %>